body{
    background-color: goldenrod; 
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

.text{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}